<form>
	<div class="row">
		<div class="large-12 columns">
			<label>Filter by</label>
			<select ng-model="filterByTag">
				<option ng-repeat="tag in tags | orderBy:'name'">{{tag.name}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<table class="large-12">
				<tr ng-repeat="link in links | filter:filterByTag">
					<td>
						<a ng-href="link.href" ng-bind="link.name"></a>
					</td>
					<td><span class="tag label rounded" ng-repeat="tag in link.tags" ng-bind="tag"></span></td>
				</tr>
			</table>
		</div>
	</div>
</form>
